<p>
    <mat-toolbar>
        <span>Jokes</span>
    </mat-toolbar>
</p>

<form #createJokeForm="ngForm" class="example-form" (ngSubmit)="handleAddJokeClicked(createJokeForm)">
    <mat-form-field class="example-full-width">
      <mat-label>Setup</mat-label>
      <input name="setup" #setup="ngModel" required ngModel matInput placeholder="An SQL statement walks into a bar and..." value="">
    </mat-form-field>
    <div *ngIf="setup.errors && (setup.touched || setup.dirty)">
        <p>Something is wrong with setup - is required</p>
    </div>
    <mat-form-field class="example-full-width">
        <mat-label>Delivery</mat-label>
        <input name="delivery" required ngModel matInput placeholder="Asks if he can join the table" value="">
      </mat-form-field>
      <button [disabled]="createJokeForm.form.invalid" type="submit" class="margin-5" mat-raised-button color="primary">Create</button>

  </form>


<!-- <div *ngFor="let joke of jokes$ | async">
    <h3>{{ joke.setup }}</h3>
    <h4>{{ joke.delivery }}</h4>
</div> -->

<mat-card *ngFor="let joke of jokes$ | async" class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>A joke</mat-card-title>
        <mat-card-subtitle>with a punchline</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{joke.setup}}
      {{joke.delivery}}
    </mat-card-content>
  </mat-card>